{% extends "PublicBundle::layout.html.twig" %}

{% block body %}
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <h1>
            Bonjour {{ app.user.username }}
        </h1>
    </div>
    <div class="col-md-2"><h1><a href="{{ path('fos_user_security_logout')}} ">logout</a></h1>
        <h1> {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin')}}  "target="_blank">
                    admin
                </a>
            {% endif %}
        </h1>
    </div>
    <div class="col-md-1"></div>
    <div class="clearfix"></div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>Paramètres de la recherche</h2>
        </div>

        <div class="panel-body">
            {% include "PublicBundle:form:searchForm.html.twig" %}


        </div>
    </div>
</div>
<div class="col-md-1"></div>
<div class="col-md-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>Rencontre lors de cette session</h2>
        </div>
        <div class="panel-body">
            {% if userWhoCorresps != null %}
                {% for userWhoCorresp in userWhoCorresps if userWhoCorresp.id != app.user.id %}
                    <li>
                        <a href="{{ path('message', {'id': userWhoCorresp.id}) }}  "target="_blank">
                            {{userWhoCorresp.id}}
                        </a>

                    </li>
                {% endfor %}

            {% endif %}

            {% if userWhoCorresps == null %}
                    <li>Pas (encore !) de rencontres lors de cette session</li>
            {% endif %}

        </div>
    </div>

</div>
    <div class="col-md-1"></div>
    <div class="clearfix"></div>
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="panel panel-primary">
            <div class="panel-heading">
        <h2>Messages</h2> <a href="{{ path('profil')}}">Actualiser</a>
            </div>
                <div class="panel-body">

                <table class="messages">
            <thead>
            <tr>
                <th>id du message</th>
                <th>Expéditeur</th>
                <th>Contenu texte</th>
                <th>Contenu img</th>
                <th>Date</th>
                <th>Repondre</th>
                <th>Signaler</th>

            </tr>
            </thead>
            <tbody>
            {% for message in messages  %}
                <tr>
                    <td>{{message.id}}</td>
                    <td>{{message.idSender}}</td>
                    <td>{% if message.messageText %}{{message.messageText }}{% endif %}</td>
                    <td>{% if message.messageImage %}<a href="/web/uploads/images/{{message.messageImage}}" target="_blank"><img src="/web/uploads/images/{{message.messageImage}}" alt="" height="42" width="42" /></a>{% endif %}</td>
                    <td>{{message.dateMessageSend |date('Y-m-d')}}</td>
                    <td><a href="{{ path('message', {'id': message.idSender}) }}  "target="_blank" class="btn-danger">
                            Repondre
                        </a></td>
                    <td>
                        {%  if message.flag == false  %}<a href="{{ path('message_flag',{ 'id': message.id }) }}" target="_blank" class="btn btn-danger">
                                signaler le message
                            </a>
                        {% else %}
                            <p class="btn btn-danger">
                            le message a ete signalé
                            </p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
                </div>
        </div>
        <div class="text-center">{{ knp_pagination_render(messages) }}</div>
    </div>
    <div class="col-md-1"></div>

    <div class="clearfix"></div>



    <div class="col-md-1"></div>
    <div class="col-md-10">
    </div>




    <div class="col-md-1"></div>
    <div class="clearfix"></div>

{% endblock body %}

